<h1><%=title%></h1>
<h5>Id: <%=id%></h5>
<img src=<%=thumbnail%> alt=<%=thumbnail%>>
<h4>Price: $<%=price%></h4>
<a href="/api/products">
    <button>Back to the product list</button>
</a>
<a href="/">
    <button>Back to the form</button>
</a>