<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <title>Info</title>
  </head>
  <body>
    <nav>
      <h2>Navbar</h2>
    </nav>
    <div class="container">
      <p>Arguments:</p>
      <ul>
        <% info.args.forEach((el)=>{ %>
        <li><%=el%></li>
        <% }) %>
      </ul>
      <p>OS:</p>
      <span><%=info.platform%></span>
      <p>Node version:</p>
      <span><%=info.nodeVersion%></span>
      <p>RSS:</p>
      <span><%=info.rss%></span>
      <p>Execution path:</p>
      <span><%=info.execPath%></span>
      <p>Process ID:</p>
      <span><%=info.processId%></span>
      <p>Proyect folder</p>
      <span><%=info.filePath%></span>
    </div>
  </body>
</html>